/*************************
 ********** App **********
 *************************/

.navbar{
    background-color:#333333;
}

.navbar-brand{
    background-image: url('../../img/logo.png');
    background-size: 100%;
    width: 8em;
    height: 2.7em;
    background-repeat: no-repeat;
    margin-top: 0.25em;
}


.navbar-default .navbar-nav li a:hover{
    color: #CCCCCC;
}

.navbar-default .navbar-nav li a{
    color: #999999;
}

/********End App *********/

/*************************
 ********* home **********
 *************************/

.main-group{
    text-align: center;
    font-size: 1.5em;
    height: 17em;
    margin-top: 5em;
    vertical-align: bottom;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-x: center;
    background-position-y: 35%;
    background-color: #2e6da4;
    color: #FFFFFF;
    border-radius: 1.5em;
    padding-top: 13.2em;
}

.main-group:hover{
    background-color: #337ab7;
    border: #2e6da4 5em;
    padding-top: 13.3em;
}

.location {
    background-image: url('../../img/store.svg');
}

.pricelist{
    background-image: url('../../img/price.svg');
}

.content {
    background-image: url('../../img/text.svg');
    background-position-x: 70%;
}

/********End Home ********/

/*************************
 ******Branch.list *******
 *************************/

/* Add Button */
.add_branch{
    padding-right: 0.5em;
}

.btn-add-branch {
    float: right;
    margin-top: -3.5em;
}
/* End Add Button */

/* Table */
.action{
    margin-left: 0.45em;
    color: #333;
}

.action:hover {
    color: #337ab7;
    text-decoration: none;
}

.status_show {
    font-size: 2.25em;
    margin-left: 0.5em;
    margin-top: -0.5em;
    display: block;
}

.show_1 { /*show online*/
    color: #2ca02c;
}

.show_0 { /*don't show online*/
    color: #c9302c;
}

.opening {
    margin-left:20%;
}

/* Table End*/

/**** End Branch List ******/


/*************************
 ***** Branch.create *****
 *************************/

textarea{
    resize: none;
}

.show_info_label {
    padding-right: 0.5em;
}

.time_input{
    display: block;;
    width: 6.7em;
    float: left;
}

span.time_input {
    width: 0.4em;
    font-size: 22px;
    line-height: 1.42;
    height: 34px;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.is_open{
    padding-left: 0.5em;
}

/*** End Branch.create ***/


/*************************
*******Device View *******
**************************/

.add-repair {
    float: right;
    margin-top: -2em;
    background-color: #2ca02c;
    color: #FFFFFF;
    display: block;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5em;
    padding-top: 0.2em;;
    padding-left: 0.05em;
}

.add-repair:hover{
    color: #2ca02c;
    background: #ffffff;
    padding-top: 0.1em;
    border: 0.1em solid #2ca02c;
}

.back-button{
    margin-top: -2.5em;
}

/*****End Device View*****/